<%= form_with(model: conspect, local: true) do |form| %>
  <% if conspect.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(conspect.errors.count, "error") %> prohibited this conspect from being saved:</h2>

      <ul>
      <% conspect.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form>

    <div class="form-group mt-3">
      <%= form.label :title %>
      <%= form.text_field :title, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :tag_list, 'Tags' %>
      <%= form.autocomplete_field :tag_list, autocomplete_tag_name_conspects_path, :"data-delimiter" => ', ', class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :description %>
      <%= form.text_field :description, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :speciality_number %>
      <%= form.number_field :speciality_number, class: "form-control" %>
    </div>

    <br>

    <div class="form-group">
      <%= form.hidden_field :content, id: :conspect_body %>
      <trix-editor input="conspect_body"> </trix-editor>
    </div>

    <div class="actions d-flex justify-content-center mb-2">
      <%= form.submit class: "btn btn-primary" %>
    </div>

  </form>

<% end %>
