<h1>Conspects</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Speciality number</th>
      <th>Content</th>
      <th>Rating</th>
      <th>User</th>
      <th>Created at:</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @conspects.each do |conspect| %>
      <tr>
        <td><%= conspect.title %></td>
        <td><%= conspect.description %></td>
        <td><%= conspect.speciality_number %></td>
        <td><%= conspect.content %></td>
        <td><%= rating_for conspect, "rating", disable_after_rate: true, cancel: false %></td>
        <td><%= conspect.user.email %></td>
        <td><%= conspect.created_at.strftime("%d-%m-%Y | %H-%M-%S") %></td>
        <td><%= link_to 'Show', conspect %></td>
        <td><%= link_to 'Edit', edit_conspect_path(conspect) %></td>
        <td><%= link_to 'Destroy', conspect, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Conspect', new_conspect_path %>

<%= paginate @conspects %>
