<h3 class="text-center mt-3">Conspect info:</h3>

  <strong>Author:</strong>
  <h6><%= @conspect.user.email %></h6>

  <strong>Title:</strong>
  <h6><%= @conspect.title %></h6>

  <strong>Description:</strong>
  <h6><%= @conspect.description %></h6>

  <strong>Tags:</strong>
  <h6><%= @conspect.tag_list %></h6>

  <strong>Rating:</strong>
  <%= rating_for @conspect, "rating", disable_after_rate: true, cancel: false %>

  <strong>Created at:</strong>
  <h6><%= @conspect.created_at.strftime("%d-%m-%Y | %H-%M-%S") %></h6>

  <strong>Speciality number:</strong>
  <h6><%= @conspect.speciality_number %></h6>

  <hr>
  <h6 class="text-center">Conspect:</h6>
  <%= sanitize @conspect.content %>
  <hr>

<div class="d-flex justify-content-center mb-2">
  <%= link_to 'Edit ', edit_conspect_path(@conspect) %> |
  <%= link_to ' Back', conspects_path %>
</div>

<hr>

<h3 class="text-center">Comments: <%= @conspect.comments.count %></h3>

<%= render 'comments/comment' %>

<h5 class="text-center">Add comment:</h5>

<%= render 'comments/form' %>