<hr>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= best_in_place @user, :name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= best_in_place @user, :gender, :as => :select, :collection => %w(Male Female) %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= best_in_place @user, :date_of_birth, :as => :date %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %>

<p><%= @user.email %>'s conspects:</p>

<% if !@user.conspects.blank? %>

  <hr>
  <p>Filter:</p>
  <%= search_form_for @search, url: user_url do |f| %>
    <%= f.condition_fields do |c| %>
      <%= render 'condition_fields', f: c %>
    <% end %>
    <div>
      <p><%= link_to_add_fields "Add Conditions", f, :condition %></p>
      <%= f.submit 'Search' %>
    </div>
    <hr>
    <br>
  <% end %>

  <table>
    <thead>
    <tr>
      <th><%= sort_link @search, :title, 'Title' %></th>
      <th>Description</th>
      <th><%= sort_link @search, :speciality_number, 'Speciality number' %></th>
      <th>Content</th>
      <th>Rating</th>
      <th><%= sort_link @search, :created_at, 'Created at:' %></th>
      <th colspan="3">Actions</th>
    </tr>
    </thead>

    <tbody>
      <% @conspects.each do |conspect| %>
        <tr>
          <td><%= conspect.title %></td>
          <td><%= conspect.description %></td>
          <td><%= conspect.speciality_number %></td>
          <td><%= sanitize conspect.content %></td>
          <td><%= rating_for conspect, "rating", disable_after_rate: true, cancel: false %></td>
          <td><%= conspect.created_at.strftime("%d-%m-%Y | %H-%M-%S") %></td>
          <td><%= link_to 'Show', conspect %></td>
          <td><%= link_to 'Edit', edit_conspect_path(conspect) %></td>
          <td><%= link_to 'Destroy', conspect, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <hr>
    <%= link_to 'New Conspect', new_conspect_path %>
  <% else %>
    <p>No conspects are created yet. Want to make a first one? <%= link_to 'New Conspect', new_conspect_path %></p>
<% end %>

<%= paginate @conspects %>