<!DOCTYPE html>
<html>
  <head>
    <title>Conspect Share</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <ul class="hmenu">
      <%= render 'layouts/search' %>
      <%= render 'devise/menu/registration_items' %>
      <%= render 'devise/menu/login_items' %>
      <%= render 'devise/menu/conspects_items' %>
      <%= render 'devise/menu/logged_as' %>
      <%= render 'devise/menu/users_items' %>
    </ul>
    <%= yield %>
  </body>
</html>
